body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.tab {
    background-color: #1E2F97;
    padding: 15px;
    display: flex; 
    align-items: center;
    justify-content: flex-end; 
}

.tablinks {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    margin-left: 10px; 
    transition: background-color 0.3s;
}

.tablinks:last-child {
    margin-right: 20px;
}

.tablinks:hover {
    background-color: #2a5aec;
}

.tablinks.active {
    background-color: #0a1127;
    color: #fff;
    transform: translateY(-1px);
}

.logo {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFF;
    background-color: #4361EE;
    padding: 5px 10px;
    border-radius: 5px;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;  /* Reduced to 80% from 100% to make it less wide */
    margin: 0 auto;  /* This will center the container horizontally */
    padding: 20px;
}

.section {
    padding: 20px;
    border: 2px solid #1E2F97; 
    flex: 1; 
    margin: 20px 20px;  /* Adding a vertical margin to create the space */
    box-sizing: border-box; 
}

.no-border {
    border: none;
}

#topRightImage {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    max-height: 40px;
    width: auto;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.centered-section {
    text-align: center;
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

#otherInput {
    margin-top: 10px;
}
